# Database Configuration
DB_HOST=localhost
DB_NAME=eduzora_lms
DB_USER=root
DB_PASS=

# SMTP Configuration
SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=587
SMTP_USERNAME=YOUR_MAILTRAP_USERNAME
SMTP_PASSWORD=YOUR_MAILTRAP_PASSWORD
SMTP_ENCRYPTION=tls
SMTP_FROM=contact@yourwebsite.com

# PayPal Configuration
PAYPAL_CLIENT_ID=YOUR_PAYPAL_CLIENT_ID
PAYPAL_CLIENT_SECRET=YOUR_PAYPAL_CLIENT_SECRET
PAYPAL_MODE=sandbox

# Stripe Configuration
STRIPE_TEST_PK=pk_test_YOUR_STRIPE_PUBLISHABLE_KEY
STRIPE_TEST_SK=sk_test_YOUR_STRIPE_SECRET_KEY
STRIPE_LIVE_PK=pk_live_YOUR_STRIPE_PUBLISHABLE_KEY
STRIPE_LIVE_SK=sk_live_YOUR_STRIPE_SECRET_KEY

# Application Configuration
BASE_URL=http://localhost/eduzora_lms/
APP_ENV=development
